

  <% cocktails_subarray = @cocktails.each_slice(6).to_a %>
<div id="cocktail-carousel" class="carousel slide" data-interval="false">
  <div class="carousel-inner">
    <% cocktails_subarray.each_with_index do |sub_arr, index| %>
      <% first_slide = index == 0 ? true : false %>
      <% if first_slide %>
        <div class="carousel-item active">
          <div class="container carousel-container">
            <div class="d-flex flex-row flex-wrap justify-content-around carousel-row">
              <% sub_arr.each do |cocktail| %>
                <div class="cocktail-card">
                  <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-link" %></h2>
                  <%= photo_for(cocktail) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="carousel-item">
          <div class="container carousel-container">
            <div class="d-flex flex-row flex-wrap justify-content-around carousel-row">
              <% sub_arr.each do |cocktail| %>
                <div class="cocktail-card">
                  <h2><%= link_to cocktail.name, cocktail_path(cocktail), class: "cocktail-link" %></h2>
                  <%= photo_for(cocktail) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class="carousel-control-prev carousel-control" href="#cocktail-carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next carousel-control" href="#cocktail-carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon"></span>
    <span class="sr-only">Next</span>
  </a>
</div>