<h1>Cocktails</h1>
<%= link_to "New Cocktail", new_cocktail_path, class: "glass-button", id: "new-btn" %>
<div class="cocktail-container">
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li class="card"><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
  </ul>
</div>
