<h3>Add an ingredient</h3>
<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>