.carousel-container {
max-width: 95%;
padding-top: 50px;
}


.carousel-row {
  margin-top: 60px;
}

.carousel-control {
  height: 40px;
  width: 30px;
  top: 95%;
  margin: 0 5px;
  background: rgb(0, 0, 0);
  opacity: 85%;
  border-radius: 4px;
}

#cocktail-carousel {
  height: 100%;
  display: relative;
}

@include media-breakpoint-up(sm) {
  .carousel-control {
    height: 50px;
    width: 40px;
    margin: 0 30px;
  }
}


@include media-breakpoint-up(md) {
  .carousel-control {
    height: 60px;
    width: 50px;
    margin: 0 40px;
  }
}