.cocktail-card {
width: 300px;
height: 350px;
background-color:#222831ef;
margin-bottom: 30px;
border-radius: 8px;
text-align: center;
border: 1px solid black;
box-shadow: 1px 2px black;

 
  .cocktail-link {
    color: white;
    font-family: 'Rancho', cursive;
    text-decoration: none;
  }
  
  img {
  border-radius: 50%;
  // border: 5px solid #272133;
  box-shadow: 0px 0px 15px 5px $light-blue;
  }

  h2 {
    padding-top: 5px;
  }
}

.cocktail-link:hover {
  color: rgb(160, 160, 160);
}

.show-cocktail-card {
  width: 550px;
  height: 700px;
  background-color:#222831ef;
  border-radius: 8px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 1px 2px black;
  margin: 100px auto;

  h1 {
    color: white;
    font-family: 'Rancho', cursive;
    padding: 20px;
    font-size: 60px;
  }

  img {
    border-radius: 30px;
  }

  ul {
    padding: 20px 50px 0 50px;
    text-align: left;
    color: white;
    list-style-type: none;
  }

  div {
    display: flex;
    justify-content: space-between;
  }

  .delete-btn {
    color: grey;
  }
}

.delete-btn:hover {
  color: white;
}

@include media-breakpoint-up(md) {
  .cocktail-card {
    margin-bottom: 30px;
  }
}

@include media-breakpoint-up(lg) {
  .cocktail-card {
    margin-bottom: 40px;
  }
}

@include media-breakpoint-up(xl) {
  .cocktail-card {
    margin-bottom: 64px;
  }
}
