.form-container {
  max-width: 400px;
  margin: 100px auto;
  background-color:#222831ef;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 1px 2px black;
  color: white;
  padding: 10px;
  
  .purple {
    background-color: $purple;
    border: none;
  }
}