body {
  background-color: black;
}

.main-container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.content-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)),
                  asset-url('neon_background.jpg');
  background-size: cover;
  min-height: 1000px;
  animation: none;
  position: relative;
  text-align: center;
}

.neon-border {
 border: 4px solid $purple;
  border-radius: 4px;
  background-color: transparent;
  box-shadow: 
    0px 1px 10px rgba(255, 255, 255, 0.6), 
    2px 1px 10px rgba(253, 6, 191, 0.3), 
    2px 4px 10px rgba(255, 255, 255, 0.479), 
    0 0 7px 10px $purple, 
    inset 0 1px 2px rgba(255, 255, 255, 0.6), 
    inset 2px 1px 4px rgba(253, 6, 191, 0.3), 
    inset 2px 4px 3px rgba(255, 255, 255, 0.473), 
    inset 0 0 7px 2px $purple;
}


.glass-button {
  text-align: center;
	padding: 5px;
	text-shadow:
    -1px -1px 0 #000, 
    1px -1px 0 #000, 
    -1px 1px 0 #000, 
    1px 1px 0 #000;
	
	border: 1px solid rgba(0,0,0,0.5);
	border-bottom: 3px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	background: rgba(0,0,0,0.25);
	box-shadow: 
    0 2px 8px rgba(0,0,0,0.5), /* Exterior Shadow */
    inset 0 1px rgba(255,255,255,0.3), /* Top light Line */
    inset 0 10px rgba(255,255,255,0.2), /* Top Light Shadow */
    inset 0 10px 20px rgba(255,255,255,0.25), /* Sides Light Shadow */
    inset 0 -15px 30px rgba(0,0,0,0.3); /* Dark Background */
}

.link-wrapper {
  margin: 16px 0 auto;
}

.new-btn {
  right: 37%;
  font-family: 'Rancho', cursive;
  color: white;
  font-size: 24px;
  z-index: 99;
  &:hover {
      text-decoration: none;
      color: rgb(173, 167, 167);
    }
}

.back-btn {
  position: absolute;
  padding: 5px 30px;
  top: 8px;
  left: 43px;
  font-family: 'Rancho', cursive;
  color: white;
  font-size: 24px;
  z-index: 99;
  display: none;
  &:hover {
      text-decoration: none;
      color: rgb(173, 167, 167);
    }
}

.light-background {
  background-color: rgba(255, 255, 255, 0.26);
}

@include media-breakpoint-up(md) {
    .new-btn {
      position: absolute;
      right: 43px;
      top: 8px;
  }  

  .back-btn {
    display: block;
  }
}