.navbar-lewagon {
  justify-content: flex-start;
  background-color: transparent;
  color: white;
  padding: 8px 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 250px;
  height: 55px;
}

.navbar-link {
	color: #ffffff;
}
